<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./boilerplate/header.ejs') %>


</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

    <!-- Preloader -->
    <%- include('./boilerplate/preloader.ejs') %>

      <!-- Navbar -->
      <%- include('./boilerplate/navbar/navbar_main.ejs') %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
          <!-- Sidebar -->
          <%- include('./boilerplate/sidebar.ejs') %>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <%- include('./boilerplate/content/main_content.ejs') %>
          <!-- /.content-wrapper -->

          <!-- Control Sidebar -->
          <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
          </aside>
          <!-- /.control-sidebar -->

          <!-- Main Footer -->
          <footer class="main-footer">
            <strong>Copyright &copy; <a href="https://cloud-tech.es">Cloud-Tech</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
              <b>Version</b> 1.0.0
            </div>
          </footer>
  </div>
  <!-- include extra items -->
  <%- include('./boilerplate/modals.ejs') %>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <!-- jQuery -->
  <script src="public/adminlte/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="public/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="public/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="public/adminlte/dist/js/adminlte.js"></script>

  <!-- PAGE PLUGINS -->
  <!-- jQuery Mapael -->
  <script src="public/adminlte/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
  <script src="public/adminlte/plugins/raphael/raphael.min.js"></script>
  <script src="public/adminlte/plugins/jquery-mapael/jquery.mapael.min.js"></script>
  <script src="public/adminlte/plugins/jquery-mapael/maps/usa_states.min.js"></script>
  <!-- ChartJS -->
  <script src="public/adminlte/plugins/chart.js/Chart.min.js"></script>

  <!-- AdminLTE for demo purposes -->
  <!-- <script src="public/adminlte/dist/js/demo.js"></script> -->
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <!-- <script src="public/adminlte/dist/js/pages/dashboard2.js"></script> -->




  <!-- jsGrid  -->
  <script src="public/adminlte/plugins/jsgrid/jsgrid.min.js"></script>
  <script src="public/js/load_general_status.js"></script>
  <script src="public/js/common_functions.js"></script>
  <script src="public/js/sidebar_actions.js"></script>
  <script src="public/js/submits.js"></script>
  <script src="public/js/forms_validate.js"></script>
  <script src="public/js/load_domain_list.js"></script>
  <script src="public/js/load_alerts.js"></script>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const sample = urlParams.get('sample');
    if (sample) {
      const script = document.createElement('script');
      script.src = 'public/js/one_dashboard.js';
      document.head.appendChild(script);
    } else {
      const script = document.createElement('script');
      script.src = 'public/js/init.js';
      document.head.appendChild(script);
    }
  </script>


</body>

</html>